@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.swiper-pagination-bullet {
  background-color: white !important;
}
.qweqw {
  background-color: aliceblue;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: 900;
}
.hidden {
  display: none;
}
.color {
  background: #000000a9;
}
.col-white {
  background-color: white;
}
.col-black {
  background-color: black;
}

.col-sky-500 {
  background-color: aqua;
}
.bg-blue {
  background-color: rgb(49, 108, 236);
}
